/* Importando a Fonte Nunito */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    text-align: justify;
}

/* Modificação no HTML */

html{
    scroll-behavior: smooth;
}

/* Modificação Header */
header{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 5px solid #D5D523;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 40px;
}
a{
    text-decoration: none;
    color: #ddd;
}
a:hover{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    font-weight: 800;
}
header figure img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

/* Modificação Body/Main */

body{
    display: flex;
    flex-direction: column;
    background-color: #222;
}
.banner figure img{
    margin-top: 20px;
    width: 100%;
}
main{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #ddd;
    margin: 40px 250px;
    min-width: min-content;
    margin-top: 100px;
    padding: 30px 60px;
    box-shadow: 5px 5px 20px #fff, -5px -5px 20px #fff;
}
.despedida p:last-child{
    text-align: center;
    font-weight: 800;
    margin: 20px
}

/* Definição do Tamanho dos elementos */

h1{
    font-size: 2rem;
    font-weight: 800;
}
h4{
    opacity: 80%;
    text-indent: 5%;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 20px 0;
}
cite{
    text-indent: 5%;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
h2{
    font-size: 1.75rem;
    margin: 10px 0;
}
h3{
    text-indent: 2%;
    margin: 30px 0;
    font-size: 1.375rem;
}
p, li {
    text-indent: 5%;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Modificação nas Classes */

#classes h3{
    font-weight: 800;
}
.classes{
    display: flex;
    flex-direction: row;
    gap: 100px;
    border: 2px solid #D5D523;
    background-color: #eee;
    box-shadow: inset 2px 1px 20px #eee, -2px -0px 20px #eee;;
    box-shadow: 2px 1px 20px #D5D523, -2px -0px 20px #D5D523;
    padding: 30px 40px;
}
aside{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    min-width: 200px;
}
.itens, .armadura, .status{
    list-style: none;
    text-indent: 8%;
}

/* Modificação da Tabela Status */
caption{
    text-align: center;
    font-weight: 800;
    font-size: 1.2em;
    margin-bottom: 20px;
}
table {
    width: 100%;
    margin: 30px 0;
    border: 3px solid #D5D523;
    box-shadow: 2px 1px 20px #D5D523, -2px -0px 20px #D5D523;
}
tr:nth-child(even){
    background-color: #eee;
}
tr:nth-child(odd){
    background-color: #fff;
}
 td {
    border: 1px solid #D5D523;
    padding: 8px;
}
td:first-child{
    font-weight: 800;
}

/* Modificação parte Chefes */

#chefes li{
    text-indent: 8%;
    list-style: none;
}

/* Modificação Footer */

footer{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #111;
    color: #ddd;
    border-top: 5px solid #D5D523;
}
footer ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
footer p, li{
    text-indent: 0%;
}